<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barrio&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Pets Gallery</title>
</head>
<body>
    <header>
        <h1>Pets Gallery</h1>
    </header>
    <div class="container">

        <div class="sidebar">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" id="file-upload" name="file" />

                {% if request.args.get('upload_error') %}
                    <p class="error">{{ request.args.get('upload_error') }}</p>
                {% endif %}

                <button type="submit">Upload</button>
            </form>

            <form id="actions-form" method="get">
                <input type="text" id="file-name" name="filename" placeholder="Enter the file name" />

                {% if request.args.get('action_error') %}
                    <p class="error">{{ request.args.get('action_error') }}</p>
                {% endif %}

                <button type="submit" onclick="setMethod('post');" formaction="/delete" id="delete-button">Delete</button>
                <button type="submit" onclick="setMethod('get');" formaction="/download" id="download-button">Download</button>
                <button type="submit" onclick="setMethod('get');" formaction="/metadata" id="metadata-button">Show metadata</button>
                <button type="submit" onclick="setMethod('get');" formaction="/random-metadata" id="random-metadata-button">Show random metadata</button>
            </form>

            {% if request.args.get('metadata') %}
                <p class="metadata-block">{{ request.args.get('metadata') }}</p>
            {% endif %}

            <script>
            function setMethod(method) {
                document.getElementById('actions-form').method = method;
            }
            </script>
        </div>

        <div class="main">
            {% for image in images %}
            <div class="image-preview-container">
                <img src="{{ url_for('uploads', filename=image) }}" alt="">
                <p>{{ image }}</p>
            </div>
            {% endfor %}
        </div>

    </div>

     <footer>
        <p>{{ region_and_az }}</p>
     </footer>

</body>
</html>