<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/static/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Barrio&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon">
    <title>Pets Gallery</title>
</head>
<body>
<header>
    <h1>Pets Gallery</h1>
</header>
<div class="container">

    <div class="sidebar">
        <form  id="uploads-form" enctype="multipart/form-data" method="post">
            <input id="file-upload" name="file" type="file"/>
            {% if request.args.get('upload_error') %}
            <p class="error">{{ request.args.get('upload_error') }}</p>
            {% endif %}
            <button formaction="/upload" id="upload-button" onclick="setMethod('post', 'uploads-form');" type="submit">Upload</button>

            {% if request.args.get('is_consistent') %}
            <p class="{{ 'success' if request.args.get('is_consistent') == 'True' else 'error' }}">
                {{ request.args.get('consistency_check_response') }}</p>
            {% endif %}
            <button formaction="/check_consistency" id="check-consistency-button" onclick="setMethod('get', 'uploads-form');" type="submit">Check consistency</button>
        </form>

        <form id="actions-form" method="get">
            <input id="file-name" name="filename" placeholder="Enter the file name" type="text"/>

            {% if request.args.get('action_error') %}
            <p class="error">{{ request.args.get('action_error') }}</p>
            {% endif %}

            <button formaction="/delete" id="delete-button" onclick="setMethod('post', 'actions-form');" type="submit">Delete</button>
            <button formaction="/download" id="download-button" onclick="setMethod('get', 'actions-form');" type="submit">Download
            </button>
            <button formaction="/metadata" id="metadata-button" onclick="setMethod('get', 'actions-form');" type="submit">Show
                metadata
            </button>
            <button formaction="/random-metadata" id="random-metadata-button" onclick="setMethod('get', 'actions-form');" type="submit">
                Show random metadata
            </button>
        </form>

        {% if request.args.get('metadata') %}
        <p class="metadata-block">{{ request.args.get('metadata') }}</p>
        {% endif %}

        <script>
            function setMethod(method, formId) {
                document.getElementById(formId).method = method;
            }
        </script>

        <form id="subscription-form" method="post">
            <input id="e-mail" name="email" placeholder="Enter the e-mail" type="text"/>

            {% if request.args.get('subscription_message') %}
            <p class="info">{{ request.args.get('subscription_message') }}</p>
            {% endif %}

            <button formaction="/subscribe" id="subscribe-button" type="submit">Subscribe</button>
            <button formaction="/unsubscribe" id="unsubscribe-button" type="submit">Unsubscribe</button>
        </form>

    </div>

    <div class="main">
        {% for image, url in images %}
        <div class="image-preview-container">
            <img alt="" src="{{ url }}">
            <p>{{ image }}</p>
        </div>
        {% endfor %}
    </div>

</div>

<footer>
    <p>{{ region_and_az }}</p>
</footer>

</body>
</html>